*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 64, 118);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 420px;
    width: 600px;
    border-radius: 20px;
}

form h3{
    padding: 20px;
    font-weight: 500px;
    font-size: 35px;
}

form input, form textarea{
    margin: 5px 10px;
    width: 530px;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(240, 248, 255, 0.886);
}

form button{
    width: 120px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(219, 64, 118) ;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    /* -webkit-border: 5px soild rgb(255, 255, 255);
    border: 5px soild rgb(255, 255, 255); */
    /* font-weight: 500px; */
}